<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="PROD_LOGS" value="${PROD_LOG_PATH}" />
  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <appender name="File" class="ch.qos.logback.core.FileAppender">
    <file>${PROD_LOG_PATH}/logfile-${bySecond}.log</file>
    <append>true</append>
    <encoder>
      <Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <logger name="com.tradebot" level="${PROD_LOG_LEVEL}" additivity="false">
    <appender-ref ref="Console"/>
    <appender-ref ref="File" />
  </logger>

  <root level="INFO">
    <appender-ref ref="File" />
    <appender-ref ref="Console" />
  </root>

</configuration>