<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="PROD_LOGS" value="${PROD_LOG_PATH}" />
  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <appender name="Stash" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${PROD_LOG_PATH}/stash-happy-trader-2.0.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${PROD_LOG_PATH}/stash-happy-trader-2.0.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

  <appender name="File" class="ch.qos.logback.core.FileAppender">
    <file>${PROD_LOG_PATH}/happy-trader-2.0-${bySecond}.log</file>
    <append>true</append>
    <encoder>
      <Pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="OrderFile" class="ch.qos.logback.core.FileAppender">
    <file>${PROD_LOG_PATH}/happy-trader-2.0-orders-${bySecond}.log</file>
    <append>true</append>
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <logger name="com.tradebot.service.BitmexOrderManagerImpl" level="${PROD_LOG_LEVEL}" additivity="true">
    <appender-ref ref="OrderFile"/>
  </logger>

  <logger name="com.tradebot" level="${PROD_LOG_LEVEL}" additivity="false">
    <appender-ref ref="Console"/>
    <appender-ref ref="File" />
    <appender-ref ref="Stash" />
  </logger>

  <root level="INFO">
    <appender-ref ref="File" />
    <appender-ref ref="Console" />
    <appender-ref ref="Stash" />
  </root>

</configuration>