<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, internal-scale=1.0">
    <title>Trading</title>
    <link th:href = "@{/home.css}" rel="stylesheet">

</head>

<body>
    <p>Welcome to <span th:text="${appName}">Our App</span></p>
    <header>
        <label for="pair">Trade Pair</label>
        <select id="pair">
            <option>XBTUSD</option>
            <option>XBTJPY</option>
        </select>
    </header>

    <div class="wrapper">
        <div id="chart">Chart</div>

        <div class="tradeconfig-container">
            <div class="tradeconfig-container_header">
                <div>Mesh Level</div>
                <div>Volume</div>
            </div>
            <div class="tradeconfig-container_list">
                <div class="tradeconfig">
                    <div class="price">0.1</div>
                    <div class="volume">1</div>
                </div>
                <div class="tradeconfig">
                    <div class="price">0.1</div>
                    <div class="volume">2</div>
                </div>
                <div class="tradeconfig">
                    <div class="price">0.3</div>
                    <div class="volume">3</div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script type="text/javascript" th:src="@{/home.js}"></script>
</body>

</html>