<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, internal-scale=1.0">
    <title>Trading</title>
    <link th:href = "@{/home.css}" rel="stylesheet">

</head>

<body>
    <p>Welcome to <span th:text="${appName}">Our App</span></p>
    <div>Active profile(s)</div>
    <div th:each="activeProfile : ${activeProfiles}" th:text="${activeProfile}"></div>
    <header>
        <label for="pair">Trade Pair</label>
        <select id="pair">
            <option th:each="symbol : ${symbolList}"
                    th:value="${symbol}" th:text="${symbol}"></option>
        </select>
    </header>

    <div class="wrapper">
        <div id="chart"></div>

        <div class="tradeconfig-container">

            <label for="lastServerUpdate">Last packet from server (sec)</label>
            <div id="lastServerUpdate">N/A</div>

            <label for="lastContextdateTime">Last context Time</label>
            <div id="lastContextdateTime">N/A</div>
            
            <div class="tradeconfig-container_header">
                <div>Mesh Level</div>
                <div>Order Volume</div>
            </div>
            <div class="tradeconfig-container_list" id="configList">
                <span>N/A</span>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{/home.js}"></script>
</body>

</html>